@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BigShouldersStencilDisplay";
    font-weight: 500;
    src: url("/fonts/BigShouldersStencilDisplay-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "BigShouldersStencilDisplay";
    font-weight: 600;
    src: url("/fonts/BigShouldersStencilDisplay-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "BigShouldersStencilDisplay";
    font-weight: 700;
    src: url("/fonts/BigShouldersStencilDisplay-Bold.ttf") format('truetype');
}